/**
 * All the styles of the App.
 */

// Our own variables
@import "./variables";
// fonts are using
@import "./fonts";


/******************************************************
 *
 * START STYLING
 *
 ******************************************************/

/* register */
/* step css */
/* end step css */
/* form css */
/* step3 */
/* end step3 */
/* step4 css */
/* end step4 */
/* end register */
/* login */
/* end login */
.top-logo {
	.logo-powered-by {
		color: #052c65;
		position: relative;
	}
	.logo {
		img {
			height: 50px;
			padding-left: 35px;
		}
	}
}
.powerby-text {
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	font-size: 12px;
	top: 3%;
}
.logo-powered-by {
	.company-text {
		font-size: 60px;
		font-weight: 500;
		font-family: auto;
		padding-right: 10px;
	}
}
.company-slogan-text {
	font-weight: 500;
	padding-top: 20px;
	padding-left: 10px;
	line-height: 1;
	position: relative;
}
.top-divider {
	height: 55%;
	background: #0000004f;
	position: absolute;
	width: 1px;
	left: 0;
}
.step-container {
	.step-reg {
		&:first-child {
			width: 184px;
			height: 90px;
			margin-right: 0;
			padding: 20px 0px;
			padding-right: 12px;
			background-color: #e1e1e1;
			clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
			position: relative;
			&:before {
				width: 182px;
				height: 88px;
				display: block;
				position: absolute;
				top: 1px;
				left: 1px;
				content: '';
				background-color: #F6FAFF;
				clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
				z-index: -1;
			}
		}
		text-align: center;
		width: 184px;
		height: 90px;
		margin-right: 0;
		padding: 20px 0px;
		padding-left: 12px;
		padding-right: 12px;
		background-color: #e1e1e1;
		clip-path: polygon(93% 1%, 100% 50%, 93% 100%, 0% 100%, 7% 50%, 0% 0%);
		position: relative;
		&:before {
			width: 182px;
			height: 88px;
			display: block;
			position: absolute;
			top: 1px;
			left: 1px;
			content: '';
			background-color: #F6FAFF;
			clip-path: polygon(93% 1%, 100% 50%, 93% 100%, 0% 100%, 7% 50%, 0% 0%);
			z-index: -1;
		}
		p {
			margin: 0;
			&:first-child {
				font-weight: 500;
				font-size: 20px;
				color: #3475d9;
				text-transform: uppercase;
			}
			&:last-child {
				margin: 0;
				font-size: 14px;
				color: #484848;
			}
		}
	}
	.step-reg.step-active {
		&:before {
			width: 176px;
			height: 82px;
			top: 4px;
			left: 4px;
		}
	}
}
.form-section {
	border: 1px solid #a59f9f;
	border-radius: 5px;
	padding: 51px;
	max-width: 750px;
	margin: auto;
}
.form-title {
	h5 {
		margin: 0;
		color: #3475d9;
		font-size: 20px;
		font-weight: 500;
	}
	.title-bottom-bar {
		border-bottom: 1px dashed #a59f9f;
		margin-left: 10px;
	}
}
.form-container {
	.already-acount {
		text-align: right;
		p {
			margin: 0;
			color: #817171;
			font-size: 13px;
		}
		a {
			text-decoration: none;
			font-weight: 700;
		}
	}
	.next-button {
		padding: 5px 50px !important;
		border-radius: 3px !important;
		background-color: #0d6efd !important;
		color: #fff !important;
	}
	.back-button {
		padding: 5px 40px;
		background-color: #fff !important;
		color: #0d6efd !important;
		border: 1px solid #0d6efd;
	}
}
.v-field--variant-filled {
	.v-field__overlay {
		background-color: #fff !important;
	}
}
.state-field {
	.v-field__outline {
		display: none;
	}
	.v-input__control {
		border: 1px solid #787575;
	}
}
div[aria-required=true].v-input {
	.v-label {
		&::after {
			content: " *";
			color: red;
		}
	}
}
.eye-show {
	position: relative;
	.v-input__append {
		position: absolute;
		right: 0;
	}
}
.show-section {
	display: block;
}
.hide-section {
	display: none;
}
.trade-option {
	.trade-switch {
		.v-input__details {
			display: none;
		}
		.v-selection-control__input {
			width: 14px;
			height: 10px;
		}
		.v-switch__thumb {
			height: 15px;
			background-color: #fff;
		}
		.v-switch__track {
			border-radius: 14px !important;
			height: 20px !important;
			width: 40px !important;
			background-color: #97b3d7;
		}
		.v-selection-control--dirty {
			.v-switch__track {
				background-color: #0b6be9;
				opacity: 1;
			}
		}
	}
	.v-input {
		flex: none;
		padding: 0px 40px;
	}
}
.custom-scroll-design {
	border: 1px solid #978e8e !important;
	box-shadow: 0 0 0 0 #fff !important;
	font-size: 18px;
	.v-list-item-title {
		font-size: 16px;
		color: #605959;
	}
	.v-list-item {
		border-bottom: 1px solid #f9f3f3;
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
	}
	&::-webkit-scrollbar-thumb {
		background: #b0b0b0;
		border-radius: 7px;
		&:hover {
			background: black;
		}
	}
}
.custom-scroll-design.leftside-scroll {
	.v-icon {
		color: #5d9ef3;
	}
	margin-right: 15px;
}
.custom-scroll-design.rightside-scroll {
	.v-list-item {
		margin: 10px 10px;
		min-height: 35px;
		box-shadow: 1px 2px 4px 1px #b5b5b5;
		border-radius: 9999px;
	}
	margin-top: 35px;
	margin-left: 15px;
}
.select-all-btn {
	opacity: 0.9 !important;
	color: #0b6be9 !important;
	.v-btn__content {
		font-size: 11px !important;
	}
}
.custom-title {
	color: #605959;
}
.step4-container {
	border: 1px solid #a9a4a4;
	padding: 20px;
}
.step4-left {
	.leftnavbar-list {
		padding: 10px 20px;
		.v-btn__content {
			font-size: 13px !important;
			color: #fff !important;
			.mdi {
				&:before {
					font-size: 13px !important;
				}
			}
		}
		.v-btn {
			background-color: #0dc115 !important;
			opacity: 0.8;
		}
		p {
			color: #3475d9;
			opacity: 0.7;
			font-size: 15px;
		}
	}
	.leftnavbar-list.no-active-list {
		opacity: 0.2;
		p {
			color: #000;
		}
		.v-btn {
			background-color: #000 !important;
		}
	}
}
.step4-right {
	.step4-title {
		color: #5a5858;
		span {
			color: #3475d9;
			opacity: 0.8;
		}
	}
}
.step4-content-container {
	margin-top: 20px;
	border: 1px solid #a9a4a4;
}
.policy-title1 {
	text-align: center;
	padding: 20px 0;
	font-size: 18px;
	font-weight: bold;
	color: #181818;
}
.policy-title2 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #5a5a5a;
	margin-bottom: 20px;
}
.policy-content {
	font-size: 12px;
	color: #4e4848;
	margin-bottom: 10px;
}
.policy-title3 {
	font-size: 14px;
	color: #181818;
	font-weight: bold;
}
.form-step4-section {
	.next-button {
		padding: 5px 50px !important;
		border-radius: 3px !important;
		background-color: #0d6efd !important;
		color: #fff !important;
	}
	.back-button {
		padding: 5px 40px;
		background-color: #fff !important;
		color: #0d6efd !important;
		border: 1px solid #0d6efd;
	}
}
.text-cus-color {
	color: #0d6efd !important;
}
.policy-footer {
	.v-label {
		font-size: 12px;
		color: #4e4848;
	}
}
.question-title {
	padding: 10px;
	border: 1px solid #bdbdbd;
	background-color: #e8edf1;
	color: #525252;
	font-size: 14px;
	margin: 10px 0;
}
.question-short-description {
	padding: 10px;
	border: 1px solid #bdbdbd;
	background-color: #e8edf1;
	color: #242222;
	font-size: 14px;
	margin: 10px 0;
}
.step4-3{
	.question-container{
		border: 1px solid #bdbdbd;
		padding: 10px;
		.v-textarea{
			padding-top: 10px;
			.v-field__input{
				border: 1px solid;
				-webkit-mask-image: none;
				padding: 10px;
				font-size: 12px;
			}
		}
		.question-block {
			padding: 0;
			border: 0;
			margin: 0;
		}
	}
}
.question-block {
	padding: 15px 10px;
	font-size: 13px;
	margin: 10px 0;
	border: 1px solid #bdbdbd;
	align-items: center;
	.v-row{
		margin: 0;
		.v-col-12{
			padding: 0;
		}
	}
	.v-input__details {
		display: none;
	}
	.v-radio-group {
		width: 130px;
	}
	.v-selection-control--density-default {
		height: 20px;
	}
	.mdi.v-icon {
		font-size: 20px !important;
	}
	.v-label {
		font-size: 13px;
	}
	.v-selection-control--dirty {
		.mdi.v-icon {
			color: #0d6efd !important;
		}
	}
}
.success-step {
	width: 450px;
	background-color: #F2F7FE !important;
	color: #222222 !important;
	.v-btn__content {
		font-size: 11px;
		opacity: 0.8;
		text-transform: none;
	}
}
.login-right {
	color: #052c65;
	background-color: #F2F7FE;
	.company-text {
		font-size: 130px;
		font-weight: 700;
	}
	.company-slogan-text {
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 38.5px;
		padding-top: 45px;
	}
	.top-divider {
		height: 55%;
		width: 3px;
	}
	.powerby-text {
		font-size: 18px;
		top: 7%;
		letter-spacing: 3px;
	}
}
.form-login {
	.field-label {
		padding: 10px 5px;
		color: #484848;
	}
	.v-input__details {
		display: none;
	}
	.v-field__input {
		min-height: 25px !important;
		padding: 10px 5px !important;
		background-color: #FBFCFD;
	}
	.sign-in-btn {
		background-color: #246DCB !important;
		font-size: 13px !important;
		text-transform: none;
	}
	.register-btn {
		background-color: #EBF4FF !important;
		color: #444242 !important;
		font-size: 13px !important;
		text-transform: none;
	}
}
.remember-me {
	position: relative;
	label {
		background-color: #fff;
		border: 1px solid #ccc;
		border-radius: 50%;
		cursor: pointer;
		height: 22px;
		left: 0;
		position: absolute;
		top: 0;
		width: 22px;
		&:after {
			border: 2px solid #fff;
			border-top: none;
			border-right: none;
			content: "";
			height: 6px;
			left: 5px;
			opacity: 0;
			position: absolute;
			top: 5px;
			transform: rotate(-45deg);
			width: 10px;
		}
	}
	input[type="checkbox"] {
		visibility: hidden;
		&:checked {
			+ {
				label {
					background-color: #66bb6a;
					border-color: #66bb6a;
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}
.login-left {
	.top-logo {
		h2 {
			color: #052C65;
			text-transform: uppercase;
			font-size: 25px;
			font-weight: 700;
			letter-spacing: 5px;
		}
		.logo {
			img {
				height: 35px;
			}
		}
	}
}




// responsive styles
@import "./responsive";