/******************************************************
 *
 * All the variables of the site.
 *

/******************************************************
 *
 * COLOR SYSTEM
 *
 ******************************************************/

// General Basic colors
$dark-blue: #013253;
$gi-blue: #00416a;
$light-blue: #3278a1;
$gray: #919191;
$black: #394041;
$dark-teal: #34838c;
$gi-teal: #7EB0B9;
$light-teal: #97cdd6;
$white: #FFFFFF;
$off-white: #F5F5F5;